    <div class="tpl-portlet-components">
        <div class="portlet-title">
            <div class="caption font-green bold">
                <span class="am-icon-code"></span>商品管理
            </div>

        </div>
        <div class="tpl-block">
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                    <div class="am-btn-toolbar">
                        <div class="am-btn-group am-btn-group-xs"><a href="{:U('edit')}" title="新增">
                            <button type="button" class="am-btn am-btn-default am-btn-success">
                                <span class="am-icon-plus"></span>
                                新增
                            </button></a>
                            <!--
                            <button type="button" class="am-btn am-btn-default am-btn-secondary"><span class="am-icon-save"></span> 保存</button>
                            <button type="button" class="am-btn am-btn-default am-btn-warning"><span class="am-icon-archive"></span> 审核</button>
                            <button type="button" class="am-btn am-btn-default am-btn-danger"><span class="am-icon-trash-o"></span> 删除</button>
                            -->
                        </div>
                    </div>
                </div>
                    <div class="am-u-sm-12 am-u-md-3">
                        <form  action="{:U('')}"  method="get" class="searchForm" style="font-size:12px">
                        <div class="am-input-group am-input-group-sm">
                            <input type="text" name='keyword' value="{$keyword}" class="am-form-field" >
                            <span class="am-input-group-btn">
                                <button class="am-btn  am-btn-default am-btn-success tpl-am-btn-success am-icon-search" type="submit"></button>
                            </span>
                        </div>
                        </form>
                    </div>
            </div>
            <div class="am-g">
                <div class="am-u-sm-12">
                    <form class="am-form">
                        <table class="am-table am-table-striped am-table-hover table-main">
                            <thead>
                            <tr>
                                <th class="table-title">商品名称</th>
                                <th class=" table-type">商品价格</th>
                                <th class=" table-type">商品库存</th>
                                <th  class=" table-type">商品状态</th>
                                <th  class="table-typ">操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <volist name="data.list" id="row">
                                <tr>
                                    <td>{$row.name}</td>
                                    <td>{$row.shop_price}</td>
                                    <td>{$row.stock}</td>
                                    <td>
                                        <switch name="row.status">
                                            <case value="1">正常</case>
                                            <case value="0">停用</case>
                                            <case value="-1">已删除</case>
                                        </switch >
                                    </td>
                                    <td>
                                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                                        <a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id']))}" title="删除">删除</a>
                                    </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        <div class="am-cf">
                {$data.page}
        </div>
        <div class="tpl-alert"></div>
    </div>



