<div class="tpl-portlet-components">
    <div class="portlet-title">
        <div class="caption font-green bold">
            <span class="am-icon-code"></span> 订单详情
        </div>
    </div>

    <div data-am-widget="tabs" class="am-tabs am-tabs-d2" >
        <ul class="am-tabs-nav am-cf">
            <li class="am-active"><a href="[data-tab-panel-0]">订单详情</a></li>
            <!--<li class=""><a href="[data-tab-panel-1]">商品详情</a></li>-->
        </ul>
        <div class="am-tabs-bd">
            <div data-tab-panel-0 class="am-tab-panel am-active">
                <ul class="am-list am-list-static am-list-border">
                    <li>
                        <label>订单号:</label>
                            {$orders.sn}
                    </li>
                    <li>
                        <label>订单状态:</label>
                            <switch name="orders.pay_status">
                                <case value="0"><font color="red">未支付</font></case>
                                <case value="1"><font color="green"> 已付款</font></case>
                            </switch> |
                            <switch name="orders.shipping_status">
                                <case value="0"><font color="red">未发货</font></case>
                                <case value="1"><font color="green"> 配送中</font></case>
                                <case value="2"><font color="green"> 已发货</font></case>
                            </switch> |
                            <switch name="orders.order_status">
                                <case value="0"><font color="red">未确认</font></case>
                                <case value="1"><font color="green"> 已确认</font></case>
                                <case value="2"><font color="red"> 退货中</font></case>
                                <case value="3"><font color="green"> 已退货</font></case>
                            </switch>
                    </li>
                    <li>
                        <label >下单时间:</label>
                            {$orders.inputtime|date='Y-m-d H:i:s',###}
                    </li>
                    <li>
                        <label>收货人:</label>
                            {$orders.receiver}
                    </li>
                    <li>
                        <label >收货地址:</label>
                            {$orders.province_name}&nbsp;{$orders.city_name}&nbsp;{$orders.area_name}&nbsp;{$orders.detail_address}
                    </li>
                    <li>
                        <label >联系方式:</label>
                            {$orders.tel}
                    </li>
                </ul>

                <ul class="am-list am-list-static am-list-border">
                    <li>
                        <label >商品原价:</label>
                        {$orders.total_amount}
                    </li>
                    <li>
                        <label >折扣金额:</label>
                        {$orders.discount_amount}
                    </li>
                    <li>
                        <label >快递邮费:</label>
                        {$orders.delivery_price}
                    </li>
                    <li>
                        <label >货到付款价格:</label>
                        {$orders.real_amount}
                    </li>
                    <li>
                        <label>订单备注:</label>
                        {$orders.info}
                    </li>
                </ul>
            </div>
            <div data-tab-panel-1 class="am-tab-panel ">
                <table class="am-table am-table-bordered am-table-radius am-table-striped">
                    <thead>
                    <tr>
                        <th>商品名称</th>
                        <th>商品图片</th>
                        <th>商品价格</th>
                        <th>商品库存</th>
                        <th>商品数量</th>
                        <th>商品价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <volist name="infos" id="info">
                        <tr>
                            <td style="width:15%;line-height:50px; text-align: center">{$info.name}</td>
                            <td style="width:25%;line-height:50px;text-align: center"><img src="http://www.19890407.com/Uploads/{$info.logo}" style="width:20%"/></td>
                            <td style="width:15%;line-height:50px;text-align: center">{$info.shop_price}</td>
                            <td style="width:15%;line-height:50px;text-align: center">{$info.stock}</td>
                            <td style="width:15%;line-height:50px;text-align: center">{$info.num}</td>
                            <td style="width:15%;line-height:50px;text-align: center">{$info.price}</td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
    </div>
    </div>
    <!--    <div class="list-div" style="margin-bottom: 5px">
            <table cellpadding="3" cellspacing="1">
                <tbody>
                <tr>
                    <th colspan="6"> 当前可执行操作：</th>
                </tr>
                <tr>
                    <td colspan="6" style="text-align:center">
                        <if condition="($orders.pay_type_id eq 1) and ($orders.pay_status neq 1)">
                            <input type="button" class="button" name="confirm" value="确认收款" onclick="change2(1)"/>
                        </if>
                        <switch name="orders.shipping_status">
                            <case value="0">
                                <input type="button" class="button" name="prepare" value="配货中" onclick="change(1)"/>
                                <input type="button" class="button" name="confirm" value="发货" onclick="change(2)"/>
                            </case>
                            <case value="1">
                                <input type="button" class="button" name="confirm" value="发货" onclick="change(2)"/>
                            </case>
                            <case value="2">
                                <eq name="orders.order_status" value="2">
                                    <input type="button" class="button" name="confirm" value="确认退款" onclick="back(3)"/>
                                </eq>
                            </case>
                        </switch>
                        <input name="order_id" value="{$orders.id}" type="hidden" id="order_id">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>-->
</div>

<script type="text/javascript">
    var order_id=$('#order_id').val();
    //改变发货状态
    function change(shipping_status){
        $.post("{:U('OrderInfo/change')}",{shipping_status:shipping_status,order_id:order_id},function(data){
            layer.msg(data.info, {
                icon: data.status ? 1 : 2,  //1是√，2是×
                time: 1000 //1秒关闭（如果不配置，默认是3秒）
            }, function () {
                location.href = data.url; //提示框隐藏之后就刷新页面。
            });
        });
    }

    //改变付款状态-货到付款
    function change2(pay_status){
        $.post("{:U('OrderInfo/change2')}",{pay_status:pay_status,order_id:order_id},function(data){
            layer.msg(data.info, {
                icon: data.status ? 1 : 2,  //1是√，2是×
                time: 1000 //1秒关闭（如果不配置，默认是3秒）
            }, function () {
                location.href = data.url; //提示框隐藏之后就刷新页面。
            });
        });
    }

    //退款
    function back(order_status){
        $.post("{:U('OrderInfo/back')}",{order_status:order_status,order_id:order_id},function(data){
            layer.msg(data.info, {
                icon: data.status ? 1 : 2,  //1是√，2是×
                time: 1000 //1秒关闭（如果不配置，默认是3秒）
            }, function () {
                location.href = data.url; //提示框隐藏之后就刷新页面。
            });
        });
    }


</script>