<extend name="Common:edit"/>

<block name="css">
    <link href="__ZTREE__/css/zTreeStyle/zTreeStyle.css" rel="stylesheet" type="text/css"/>
</block>

<block name="form">
    <form method="post" action="{:U()}">
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">权限名称</td>
                <td>
                    <input type="text" name="name" maxlength="60" value="{$name}"> <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">权限的URL</td>
                <td>
                    <input type="text" name="url" maxlength="60" value="{$url}">
                </td>
            </tr>
            <tr>
                <td class="label">父权限</td>
                <td>
                    <input type="hidden" name="parent_id" maxlength="60" value="{$parent_id}" class="parent_id">
                    <input type="text" name="parent_text" maxlength="60"  class="parent_text" disabled="disabled" value="默认是顶级分类">
                    <ul id="treeDemo" class="ztree"></ul>
                </td>
            </tr>
            <tr>
                <td class="label">简介</td>
                <td>
                    <textarea name="intro" rows="2" cols="30" >{$intro}</textarea>
                </td>
            </tr>
            <tr>
                <td class="label">状态</td>
                <td>
                    <input type="radio" name="status" class="status" value="1"/>是
                    <input type="radio" name="status" class="status" value="0"/>否
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">排序</td>
                <td>
                    <input type="text" name="sort" maxlength="60" value="{$sort|default=20}">
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br/>
                    <input type="hidden" name="id" value="{$id}"/>
                    <input type="submit" class="button ajax-post_1" value=" 确定 "/>
                    <input type="reset" class="button" value=" 重置 "/>
                </td>
            </tr>
        </table>
    </form>
</block>
<block name="js">
    <script type="text/javascript" src="__ZTREE__/js/jquery.ztree.core-3.5.js"></script>
    <script type="text/javascript">
        $(function () {
            //>>1.树的设置
            var setting = {
                data: {
                    simpleData: {
                        enable: true,
                        pIdKey: "parent_id",
                    }
                },
                callback: {
                    onClick: function(event, treeId, treeNode){
                        //第三个参数会得到当前单击的对象
                        $('.parent_text').val(treeNode.name);
                        $('.parent_id').val(treeNode.id);
                    }
                }
            };

            //>>2.(这里是json形式的数组)，准备树中需要的数据
            var zNodes = {$nodes};
            //>>3.将id为treeDemo的ul变成一个树，返回值是该对象。
            var treeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
            //>>4.展开节点
            treeObj.expandAll(true);

            /*>>5.-----------只有是编辑回显的时候，才需要将节点选中，并且父分类那里有值-----*/
            <notempty name='id'>    //这是php语言，thinkphp中empty标签。
            var parent_id={$parent_id}; //让php语言在js中使用
            var parentNode=treeObj.getNodeByParam('id',parent_id); //根据id去找值为parent_id的节点。
            if(!parentNode){
                return;
            }
            treeObj.selectNode(parentNode); //选中给定值的节点。
            $('.parent_id').val(parentNode.id);
            $('.parent_text').val(parentNode.name);
            </notempty>
        });
    </script>
</block>