<extend name="Common:index"/>
<block name="center">
    <div class="list-div" id="listDiv">
        <input type="button" class="button ajax-post" value="删除所有选中" url="{:U('changeStatus')}"/>
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th><input type="checkbox" class="all"/></th>
                <th>供应商名称</th>
                <th>供应商介绍</th>
                <th>排序</th>
                <th>是否显示</th>
                <th>操作</th>
            </tr>
            <tbody class="tbody">
            <volist name="rows" id="row">
                <tr id="{$row.id}">
                    <td align="center" width="50"><input type="checkbox" name="id[]" value="{$row.id}" class="id"/></td>
                    <td align="center">{$row.name}</td>
                    <td align="center">{$row.intro}</td>
                    <td align="center" filedName="sort" class="sort">{$row.sort}</td>
                    <td align="center">
                        <a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>1-$row['status']))}">
                            <img src="__IMG__/{$row.status}.gif"/>
                        </a>
                    </td>
                    <td align="center">
                        <a href="{:U('edit',array('id'=>$row['id']))}" title="编辑">编辑</a> |
                        <a class="ajax-get" href="{:U('changeStatus',array('id'=>$row['id'],'status'=>-1))}"
                           title="移除">移除</a>
                    </td>
                </tr>
            </volist>
            </tbody>
        </table>
        <div class="page">{$pageHtml}</div>
    </div>
</block>
